.panels-flexible-cinco_filas .panels-flexible-region {
  padding: 0;
}

.panels-flexible-cinco_filas .panels-flexible-region-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-cinco_filas .panels-flexible-region-inside-first {
  padding-left: 0;
}

.panels-flexible-cinco_filas .panels-flexible-region-inside-last {
  padding-right: 0;
}

.panels-flexible-cinco_filas .panels-flexible-column {
  padding: 0;
}

.panels-flexible-cinco_filas .panels-flexible-column-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-cinco_filas .panels-flexible-column-inside-first {
  padding-left: 0;
}

.panels-flexible-cinco_filas .panels-flexible-column-inside-last {
  padding-right: 0;
}

.panels-flexible-cinco_filas .panels-flexible-row {
  padding: 0 0 0.5em 0;
  margin: 0;
}

.panels-flexible-cinco_filas .panels-flexible-row-last {
  padding-bottom: 0;
}

.panels-flexible-column-cinco_filas-main {
  float: left;
  width: 99.0000%;
}

.panels-flexible-cinco_filas-inside {
  padding-right: 0px;
}

.panels-flexible-cinco_filas {
  width: auto;
}

.panels-flexible-region-cinco_filas-center {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-cinco_filas-main-row-inside {
  padding-right: 0px;
}

.panels-flexible-region-cinco_filas-segundo {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-cinco_filas-1-inside {
  padding-right: 0px;
}

.panels-flexible-region-cinco_filas-tercero {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-cinco_filas-2-inside {
  padding-right: 0px;
}

.panels-flexible-region-cinco_filas-cuarto {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-cinco_filas-3-inside {
  padding-right: 0px;
}

.panels-flexible-region-cinco_filas-quinto {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-cinco_filas-4-inside {
  padding-right: 0px;
}

