.panels-flexible-dos_filas_con_menu_apoyenos .panels-flexible-region {
  padding: 0;
}

.panels-flexible-dos_filas_con_menu_apoyenos .panels-flexible-region-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-dos_filas_con_menu_apoyenos .panels-flexible-region-inside-first {
  padding-left: 0;
}

.panels-flexible-dos_filas_con_menu_apoyenos .panels-flexible-region-inside-last {
  padding-right: 0;
}

.panels-flexible-dos_filas_con_menu_apoyenos .panels-flexible-column {
  padding: 0;
}

.panels-flexible-dos_filas_con_menu_apoyenos .panels-flexible-column-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-dos_filas_con_menu_apoyenos .panels-flexible-column-inside-first {
  padding-left: 0;
}

.panels-flexible-dos_filas_con_menu_apoyenos .panels-flexible-column-inside-last {
  padding-right: 0;
}

.panels-flexible-dos_filas_con_menu_apoyenos .panels-flexible-row {
  padding: 0 0 0.5em 0;
  margin: 0;
}

.panels-flexible-dos_filas_con_menu_apoyenos .panels-flexible-row-last {
  padding-bottom: 0;
}

.panels-flexible-column-dos_filas_con_menu_apoyenos-main {
  float: left;
  width: 99.0000%;
}

.panels-flexible-dos_filas_con_menu_apoyenos-inside {
  padding-right: 0px;
}

.panels-flexible-dos_filas_con_menu_apoyenos {
  width: auto;
}

.panels-flexible-region-dos_filas_con_menu_apoyenos-center {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-dos_filas_con_menu_apoyenos-main-row-inside {
  padding-right: 0px;
}

.panels-flexible-region-dos_filas_con_menu_apoyenos-centrado {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-dos_filas_con_menu_apoyenos-1-inside {
  padding-right: 0px;
}

.panels-flexible-region-dos_filas_con_menu_apoyenos-final {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-dos_filas_con_menu_apoyenos-2-inside {
  padding-right: 0px;
}

