.panels-flexible-cuatro_filas_con_menu_2 .panels-flexible-region {
  padding: 0;
}

.panels-flexible-cuatro_filas_con_menu_2 .panels-flexible-region-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-cuatro_filas_con_menu_2 .panels-flexible-region-inside-first {
  padding-left: 0;
}

.panels-flexible-cuatro_filas_con_menu_2 .panels-flexible-region-inside-last {
  padding-right: 0;
}

.panels-flexible-cuatro_filas_con_menu_2 .panels-flexible-column {
  padding: 0;
}

.panels-flexible-cuatro_filas_con_menu_2 .panels-flexible-column-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-cuatro_filas_con_menu_2 .panels-flexible-column-inside-first {
  padding-left: 0;
}

.panels-flexible-cuatro_filas_con_menu_2 .panels-flexible-column-inside-last {
  padding-right: 0;
}

.panels-flexible-cuatro_filas_con_menu_2 .panels-flexible-row {
  padding: 0 0 0.5em 0;
  margin: 0;
}

.panels-flexible-cuatro_filas_con_menu_2 .panels-flexible-row-last {
  padding-bottom: 0;
}

.panels-flexible-column-cuatro_filas_con_menu_2-main {
  float: left;
  width: 99.0000%;
}

.panels-flexible-cuatro_filas_con_menu_2-inside {
  padding-right: 0px;
}

.panels-flexible-cuatro_filas_con_menu_2 {
  width: auto;
}

.panels-flexible-region-cuatro_filas_con_menu_2-center {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-cuatro_filas_con_menu_2-main-row-inside {
  padding-right: 0px;
}

.panels-flexible-region-cuatro_filas_con_menu_2-primero {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-cuatro_filas_con_menu_2-1-inside {
  padding-right: 0px;
}

.panels-flexible-region-cuatro_filas_con_menu_2-segundo {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-cuatro_filas_con_menu_2-2-inside {
  padding-right: 0px;
}

.panels-flexible-region-cuatro_filas_con_menu_2-tercero {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-cuatro_filas_con_menu_2-3-inside {
  padding-right: 0px;
}

.panels-flexible-region-cuatro_filas_con_menu_2-cuarto {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-cuatro_filas_con_menu_2-4-inside {
  padding-right: 0px;
}

