.panels-flexible-tres_filas_logros .panels-flexible-region {
  padding: 0;
}

.panels-flexible-tres_filas_logros .panels-flexible-region-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-tres_filas_logros .panels-flexible-region-inside-first {
  padding-left: 0;
}

.panels-flexible-tres_filas_logros .panels-flexible-region-inside-last {
  padding-right: 0;
}

.panels-flexible-tres_filas_logros .panels-flexible-column {
  padding: 0;
}

.panels-flexible-tres_filas_logros .panels-flexible-column-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-tres_filas_logros .panels-flexible-column-inside-first {
  padding-left: 0;
}

.panels-flexible-tres_filas_logros .panels-flexible-column-inside-last {
  padding-right: 0;
}

.panels-flexible-tres_filas_logros .panels-flexible-row {
  padding: 0 0 0.5em 0;
  margin: 0;
}

.panels-flexible-tres_filas_logros .panels-flexible-row-last {
  padding-bottom: 0;
}

.panels-flexible-column-tres_filas_logros-main {
  float: left;
  width: 99.0000%;
}

.panels-flexible-tres_filas_logros-inside {
  padding-right: 0px;
}

.panels-flexible-tres_filas_logros {
  width: auto;
}

.panels-flexible-region-tres_filas_logros-center {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-tres_filas_logros-main-row-inside {
  padding-right: 0px;
}

.panels-flexible-region-tres_filas_logros-segundo {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-tres_filas_logros-1-inside {
  padding-right: 0px;
}

.panels-flexible-region-tres_filas_logros-tercero {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-tres_filas_logros-2-inside {
  padding-right: 0px;
}

