.panels-flexible-siete_filas .panels-flexible-region {
  padding: 0;
}

.panels-flexible-siete_filas .panels-flexible-region-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-siete_filas .panels-flexible-region-inside-first {
  padding-left: 0;
}

.panels-flexible-siete_filas .panels-flexible-region-inside-last {
  padding-right: 0;
}

.panels-flexible-siete_filas .panels-flexible-column {
  padding: 0;
}

.panels-flexible-siete_filas .panels-flexible-column-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-siete_filas .panels-flexible-column-inside-first {
  padding-left: 0;
}

.panels-flexible-siete_filas .panels-flexible-column-inside-last {
  padding-right: 0;
}

.panels-flexible-siete_filas .panels-flexible-row {
  padding: 0 0 0.5em 0;
  margin: 0;
}

.panels-flexible-siete_filas .panels-flexible-row-last {
  padding-bottom: 0;
}

.panels-flexible-column-siete_filas-main {
  float: left;
  width: 99.0000%;
}

.panels-flexible-siete_filas-inside {
  padding-right: 0px;
}

.panels-flexible-siete_filas {
  width: auto;
}

.panels-flexible-region-siete_filas-menu {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-siete_filas-7-inside {
  padding-right: 0px;
}

.panels-flexible-region-siete_filas-center {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-siete_filas-main-row-inside {
  padding-right: 0px;
}

.panels-flexible-region-siete_filas-segundo {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-siete_filas-1-inside {
  padding-right: 0px;
}

.panels-flexible-region-siete_filas-tercero {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-siete_filas-2-inside {
  padding-right: 0px;
}

.panels-flexible-region-siete_filas-cuarto {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-siete_filas-3-inside {
  padding-right: 0px;
}

.panels-flexible-region-siete_filas-quinto {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-siete_filas-4-inside {
  padding-right: 0px;
}

.panels-flexible-region-siete_filas-sexto {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-siete_filas-5-inside {
  padding-right: 0px;
}

.panels-flexible-region-siete_filas-septimo {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-siete_filas-6-inside {
  padding-right: 0px;
}

