.panels-flexible-dos_filas_news_feed_menu_lateral .panels-flexible-region {
  padding: 0;
}

.panels-flexible-dos_filas_news_feed_menu_lateral .panels-flexible-region-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-dos_filas_news_feed_menu_lateral .panels-flexible-region-inside-first {
  padding-left: 0;
}

.panels-flexible-dos_filas_news_feed_menu_lateral .panels-flexible-region-inside-last {
  padding-right: 0;
}

.panels-flexible-dos_filas_news_feed_menu_lateral .panels-flexible-column {
  padding: 0;
}

.panels-flexible-dos_filas_news_feed_menu_lateral .panels-flexible-column-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-dos_filas_news_feed_menu_lateral .panels-flexible-column-inside-first {
  padding-left: 0;
}

.panels-flexible-dos_filas_news_feed_menu_lateral .panels-flexible-column-inside-last {
  padding-right: 0;
}

.panels-flexible-dos_filas_news_feed_menu_lateral .panels-flexible-row {
  padding: 0 0 0.5em 0;
  margin: 0;
}

.panels-flexible-dos_filas_news_feed_menu_lateral .panels-flexible-row-last {
  padding-bottom: 0;
}

.panels-flexible-column-dos_filas_news_feed_menu_lateral-main {
  float: left;
  width: 99.0000%;
}

.panels-flexible-dos_filas_news_feed_menu_lateral-inside {
  padding-right: 0px;
}

.panels-flexible-dos_filas_news_feed_menu_lateral {
  width: auto;
}

.panels-flexible-region-dos_filas_news_feed_menu_lateral-menu {
  float: left;
  width: 20.3621%;
}

.panels-flexible-region-dos_filas_news_feed_menu_lateral-center {
  float: left;
  width: 78.6379%;
}

.panels-flexible-row-dos_filas_news_feed_menu_lateral-main-row-inside {
  padding-right: 0px;
}

