@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/proximanova-regular.eot');
  src: url('../fonts/proximanova-regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/proximanova-regular.woff') format('woff'), 
  url('../fonts/proximanova-regular.ttf') format('truetype'),
  url('../fonts/proximanova-regular.svg#ProximaNova') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Aleo';
  src: url('../fonts/Aleo-Regular.eot');/* Para Internet Explorer */
  src: url('../fonts/Aleo-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Aleo-Regular.woff') format('woff'), 
  url('../fonts/Aleo-Regular.ttf') format('truetype'),
  url('../fonts/Aleo-Regular.svg#AleoRegular') format('svg');
  font-weight: normal;
  font-style: italic;
}


/*
  =BASE
--------------------------------------------- */
* {
  margin: 0;
  padding: 0;
}

html {

}
body {
  padding: 0;
  font-family: "ProximaNova", sans-serif;
}
/*
  =LAYOUT
--------------------------------------------- */
.header .grid,
.footer .inner,
.pre-footer .inner,
.above-content .inner,
.panel.grid,
.layour .grid {
  max-width: 70em;
  margin: 0 auto;
  overflow: hidden;
  float: none;
}

.one-sidebar .main {
  width: 60%;
  padding: 0 0.875em;
}
.one-sidebar #sidebar-first {
  width: 40%;
  padding: 0 0.875em;
}
.sidebar-first .main {
  float: left;
}
.sidebar-first #sidebar-first {
  float: right;
}



/*
# --------------------------------------------------
# CSS Andrey S
# --------------------------------------------------
*/


.front h2{
  font-family: "Aleo", sans-serif;
  text-align: center;
  font-size: 33px;
  line-height: 36px;
  font-weight: normal;
}
.front h2 + p{
  text-align: center;
}
.rojo{
  color: #A63131;
}
.azul{
  color: #0080C6;
}
.naranja{
  color: #CF722A;
}
p{
  font-size: 15px;
  line-height: 19px;
  color: #404041;
}

.btn{
  display: block;
  border: 3px solid #FFF; color: #FFF;
  padding: 0px 25px;
  text-align: center;
  line-height: 45px;
  font-size: 18px;
  border-radius: 20px;
}
.btn:hover{
  color: #FFF;
}
.btn.b-azul{
  border-color: #0080C6;
  color: #0080C6;
}
.btn.a-right{
  float: right;
}
.btn.a-left{
  float: left;
}
.btn.b-rojo{
  border-color: #A63131;
  color: #A63131;
}
.btn.l2{
  line-height: 18px;
  padding: 5px 15px;
}

.a-center{
  text-align: center;
  overflow: hidden;
  clear: both;
  margin: 20px 0px;
}
.a-center a.btn{
  display: inline-block;
}

.bg-gris{
  background-color: #EFEFF0;
}
.bg-img-gris{
  background-image: url('../images/bg_gris.png');
  background-repeat: repeat;
}
.bg-img-azul{
  background-image: url('../images/bg_azul.png');
  background-repeat: repeat;
}
.bg-img-rojo{
  background-image: url('../images/bg_rojo.png');
  background-repeat: repeat;
}


/* ## HEADER ## */

.header{
  min-height: 157px;
  border-bottom: 5px solid #0080C6;
}

.utility-bar{
  float: right;
}

.utility-bar ul{
  background-color: #EFEFF0;
  -webkit-border-bottom-right-radius: 35px;
  -webkit-border-bottom-left-radius: 35px;
  -moz-border-radius-bottomright: 35px;
  -moz-border-radius-bottomleft: 35px;
  border-bottom-right-radius: 35px;
  border-bottom-left-radius: 35px;
  padding: 3px 25px 7px 25px;
}

.utility-bar ul li{
  display: inline-block;
  border-right: 1px solid #58595B;
  line-height: 15px;
  padding-left: 7px; padding-right: 12px;
}

.utility-bar ul li a{
  font-size: 14px;
  font-weight: normal;
  color: #58595B;
  text-decoration: none;
}
#logo{
  float: left;
  margin-top: 18px;
}


/* ## INICIO ## */

.banner{
  border-bottom: 5px solid #0080C6;
}
.front .flexslider{
  border: 0px;
  margin: 0px;
  max-width: 1280px;
  margin: 0 auto;
}
.front .flexslider .flex-caption{
  position: absolute;
  top: 0px;
  left: 7%;

  height: 100%;
  width: 565px;
  padding: 30px 50px;

  background: rgba(255, 255, 255, 0.7);
}

.front .flexslider .flex-caption .refran-nelson{
  color: #404041;
  font-size: 33px;
  text-align: center;
  line-height: 35px;
  margin-bottom: 70px;
}
.front .flexslider .flex-caption .refran-nelson:before,
.front .flexslider .flex-caption .refran-nelson:after{
  display: block;
  content: " ";
  width: 50px; height: 50px;
  position: relative;
}
.front .flexslider .flex-caption .refran-nelson:before{
  top: 20px;
  left: -20px;
  border-top: 1px solid #404041;
  border-left: 1px solid #404041;
}
.front .flexslider .flex-caption .refran-nelson:after{
  float: right;
  bottom: 57px;
  right: -20px;
  border-right: 1px solid #404041;
  border-bottom: 1px solid #404041;
}

.front .flexslider .flex-caption .refran-nelson span{
  font-size: 17px;
  display: block;
  clear: both;
  overflow: hidden;
  margin-top: 20px;
}
.front .flexslider .flex-caption p{
  font-size: 20px;
  text-align: center;
  color: #000000;
  line-height: 23px;
}

.enlaces-caption{
  clear: both;
  overflow: hidden;
  margin-top: 70px;
  text-align: center;
}

.btn.colorbox-load{
  display: inline-block;
  margin-right: 20px;
  border-color: #0080C6;
  color: #0080C6;
  background-image: url('../images/play_btn.png');
  background-repeat: no-repeat;
  background-position: 93% 50%;
  width: 195px;
  line-height: 22px;
  padding-right: 50px;
}
.btn.enlace-video{
  display: inline-block;
  border-color: #A63131;
  background-color: #A63131;
  color: #FFF;
  width: 193px;
  line-height: 22px;
}


.panels-flexible-row{
  padding: 50px 0px !important;
}

.primer-fila-interna{
  margin-top: 40px;
}
.primer-fila-interna,
.segunda-fila-interna{
  clear: both;
  overflow: hidden;
  margin-bottom: 50px;
}
.caja-icono{
  width: 200px;
  min-height: 240px;
  margin: 0 auto;
  border-bottom: 3px solid #A63131;
  background-color: #EFEFF0;

  -webkit-border-top-left-radius: 20px;
  -webkit-border-top-right-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-topright: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  text-align: center;
  padding: 10px 15px;
}

.caja-icono strong{
  display: block;
  font-size: 20px;
  line-height: 19px;
  color: #0080C6;
  margin-bottom: 15px;
}
.caja-icono p{
  line-height: 15px;
  margin: 0px;
}
.caja-icono > div{
  width: 60px; height: 60px;
  margin: 0 auto;
  margin-bottom: 15px;
  background-repeat: no-repeat;
  background-position: center;
}
.caja-icono .icono-1{
  background-image: url('../images/i_aporte_1.png');
}
.caja-icono .icono-2{
  background-image: url('../images/i_aporte_2.png');
}
.caja-icono .icono-3{
  background-image: url('../images/i_aporte_3.png');
}
.caja-icono .icono-4{
  background-image: url('../images/i_aporte_4.png');
}
.caja-icono .icono-5{
  background-image: url('../images/i_aporte_5.png');
}
.caja-icono .icono-6{
  background-image: url('../images/i_aporte_6.png');
}
.caja-icono .icono-7{
  background-image: url('../images/i_aporte_7.png');
}
.caja-icono .icono-8{
  background-image: url('../images/i_aporte_8.png');
}

.pie-apoyenos{
  text-align: center;
}
.pie-apoyenos p{
  font-family: "Aleo", sans-serif;
  font-size: 23px;
  color: #58595B;
  display: inline-block;
}
.pie-apoyenos a{
  margin-left: 30px;
}
#queremos{
  overflow: hidden;
  clear: both;
}




.alcance h3{
  line-height: 20px;
  font-weight: 500;
}
.alcance h3 a{
  color: #CF722A;
  font-size: 18px;
}
.alcance p{
  font-size: 14px;
  font-weight: normal;
  color: #404041;
  margin: 0px;
}
.alcance a{
  display: block;
  margin-top: 20px;
  font-size: 13px;
  color: #7D7E80;
}

.bx-wrapper .bx-viewport{
  box-shadow: none;
  border: none;
  background: transparent;
  width: 95% !important;
  margin: 0 auto;
}

.bx-wrapper .bx-controls-direction a{
  display: block;
  width: 27px; height: 27px;
  background-position: center !important;
}
.bx-wrapper .bx-controls-direction .bx-next{
  background-image: url('../images/next_slider.png') !important;
  right: -10px;
}
.bx-wrapper .bx-controls-direction .bx-prev{
  background-image: url('../images/prev_slider.png') !important;
  left: -20px;
}

#bxslider_views_slideshow_main_nodequeue_1-block #views-slideshow-bxslider-1{
  margin: 30px 0px;
}

#bxslider_views_slideshow_main_nodequeue_1-block #views-slideshow-bxslider-1 .bx-wrapper .bx-viewport{

}
#bxslider_views_slideshow_main_nodequeue_1-block #views-slideshow-bxslider-1 .bx-wrapper .bx-viewport li{
  height: 97px;
  background-color: #FFF;
  line-height: normal;
  padding: 18px 0px;
}



.view-blog .views-row > div{
  width: 325px;
  min-height: 395px;
  background-color: #EFEFF0;
}
.view-blog .views-row > div .field-name-field-imagen img{
  width: 100%;
}
.view-blog .views-row .group-blog-resumen{
  margin: 0px;
  padding: 15px;
  border: none;
}
.view-blog .views-row .group-blog-resumen h3{
  margin: 0px;
}
.view-blog .views-row .group-blog-resumen h3 a{
  color: #404041;
  font-size: 21px;
}
.view-blog .views-row .group-blog-resumen .group-categoria-fecha{
  margin: 0px; padding: 0px;
  border: none;
  margin: 15px 0px; 
}
.view-blog .views-row .group-blog-resumen .group-categoria-fecha .fieldset-wrapper{

}
.view-blog .views-row .group-blog-resumen .group-categoria-fecha .fieldset-wrapper > div{
  display: inline-block;
  font-size: 11px;
  color: #404041;
}

.view-blog .views-row .group-blog-resumen .group-categoria-fecha .fieldset-wrapper .field-name-field-categoria{
  background-image: url('../images/i_categoria.png');
  background-repeat: no-repeat;
  background-position: left center;
  padding: 5px 0px 5px 25px;
  margin-right: 15px;
}
.view-blog .views-row .group-blog-resumen .group-categoria-fecha .fieldset-wrapper .field-name-post-date{
  background-image: url('../images/i_fecha.png');
  background-repeat: no-repeat;
  background-position: left center;
  padding: 5px 0px 5px 25px;
}

.view-blog .views-row .group-blog-resumen .group-categoria-fecha .fieldset-wrapper > div a{
  color: #404041;
}

.view-blog .views-row .group-blog-resumen .field-name-body p{
  font-size: 13px;
}


#colorbox .node-promoted .field-name-encabezado-teoria-del-conocimien h2{
  font-size: 21px;
  float: left;
}
#colorbox .node-promoted .field-name-encabezado-teoria-del-conocimien p{
  font-size: 14px;
}


.webform-client-form input[type='text'],
.webform-client-form input[type='email'],
.webform-client-form select{
  width: 100%;
  height: 47px;
  background-color: #EFEFF0;
  border: none;
  padding-left: 10px;
  font-family: "ProximaNova", sans-serif;
  font-weight: normal;
  font-size: 15px;
}
.webform-client-form select{
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url('../images/select.png');
  background-repeat: no-repeat;
  background-position: 97% 50%;
}
.webform-client-form input[type='submit']{
  display: block;
  padding: 0px 25px;
  text-align: center;
  line-height: 35px;
  font-size: 18px;
  text-transform: uppercase;
  border-radius: 12px;
  background-color: #0080C6;
  border: none;
  color: #FFF;
  float: right;
  cursor: pointer;
}
#cboxWrapper{
  border-radius: 0;
}
#cboxClose{
  bottom: auto;
  top: 0;
  width: 27px; height: 27px;
  background-image: url('../images/cerrar.png');
  background-repeat: no-repeat;
  background-position: center;
  background-color: #FFF;
}
#cboxClose:hover{
  background-position: center;
}


/* QUIENES SOMOS*/

.above-content{
  min-height: 118px;
  background: rgba(255, 255, 255, 0.7);
  z-index: 99;
  position: relative;
}

#block-easy-breadcrumb-easy-breadcrumb{
  /*float: left;*/
  padding-top: 20px;
}
#block-easy-breadcrumb-easy-breadcrumb span,
#block-easy-breadcrumb-easy-breadcrumb a{
 color: #404041;
 font-size: 14px;
}


#block-block-4 h1{
  font-family: "Aleo", sans-serif;
  font-size: 34px;
  font-weight: normal;
  color: #404041;
  margin-top: 10px;
}
#block-block-4 .gu{
  padding: 0px;
}
.st_sharethis_large{
  float: right;
  width: 52px; height: 52px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
  text-align: center;
  padding-top: 10px;
}
.st_sharethis_large .stButton .stLarge{
  background-image: url('../images/i_compartir.png') !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  width: 32px !important; height: 32px !important;
}
.st_sharethis_large .stButton .stLarge:hover{
  background-position: center !important;
}


.not-front .banner .group-enlace-imagen{
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
 
  top: -118px;
  margin-bottom: -121px;
}
.banner .group-enlace-imagen{
  margin: 0px; padding: 0px; border: 0px;
}
.banner .group-enlace-imagen .fieldset-wrapper{
  position: relative;
}
.banner .group-enlace-imagen a{
  position: absolute;
  width: 270px;
  top: 38%;
  margin: 0 auto;
  left: 0px; right: 0px;
}
.banner .group-enlace-imagen a #play{
  width: 160px;
  height: 160px;
  background-image: url('../images/play_banner.png');
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  margin-bottom: 20px;
}
.banner .group-enlace-imagen a .play-titulo{
  font-size: 25px;
  color: #404041;
  text-align: center;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 40px;
  padding: 10px 20px;
}

.panels-flexible-dos_filas .panels-flexible-region{
  padding: 0 10px;
}
.panels-flexible-dos_filas .panels-flexible-region.gu-3-4{
  padding: 0 25px 0px 10px;
}

.panels-flexible-dos_filas .pane-content h2{
  font-size: 33px;
  line-height: 33px;
  font-family: "Aleo", sans-serif;
  color: #0080C6;
}
.panels-flexible-dos_filas .pane-content h3{
  font-size: 22px;
  font-family: "Aleo", sans-serif;
  color: #0080C6;
}

#menu-lateral ul{
  margin: 0px;
}
#menu-lateral ul li{
  margin-bottom: 7px;
}
#menu-lateral ul li a{
  display: block;
  width: 100%;
  height: 55px;
  background-color: #EFEFF0;
  text-align: left;
  line-height: 55px;
  padding-left: 15px;
  color: #404041;
  font-size: 17px;
  font-family: "Aleo", sans-serif;
  border-right: 2px solid #EFEFF0;
}
#menu-lateral ul li a:hover,
#menu-lateral ul li a.active{
  color: #0080C6;
  border-color: #0080C6;
}

.llamado-accion p{
  font-size: 23px;
  line-height: 30px;
  font-family: "Aleo", sans-serif;
  color: #FFF;
  margin-bottom: 0px;
}
.llamado-accion a{
  margin-top: 25px;
}




/* POR QUE LO HACEMOS */

.box_por_que{
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 200px;
  background-color: #EFEFF0;
  padding: 15px 25px;
  font-size: 15px;
}
.box_por_que .boxtitulo{
  font-size: 22px;
  color: #0080C6;
  font-weight: normal;
  font-family: "Aleo", sans-serif;
  display: block;
  clear: both;
  margin-bottom: 15px;
}
.box_por_que.bpq1:before{
  display: block;
  content: " VS ";
  text-align: center;
  line-height: 65px;
  color: #FFF;
  font-size: 29px;
  font-weight: normal;
  position: absolute;
  width: 63px; height: 63px;
  background-color: #0080C6;
  border-radius: 50%;
  top: 34%;
  right: -45px;
  z-index: 50;
}

.clear{
  clear: both;
  overflow: hidden;
  height: 25px;
}

.ms .mstitulo{
  font-size: 22px;
  color: #0080C6;
  font-weight: normal;
  font-family: "Aleo", sans-serif;
  display: block;
  clear: both;
  margin: 15px 0px;
}
.ms{
  min-height: 445px;
  border-bottom: 3px solid #EFEFF0;
}

.botones-historia{
  float: right;
  clear: both;
  margin: 50px 0px;
}
.botones-historia a{
  float: left;
  margin-left: 20px;
}

.view-nuestro-equipo .views-row{
  /*width: 100%;*/
  border-bottom: 3px solid #EFEFF0;
  padding-bottom: 15px; margin-bottom: 20px;
}
.view-nuestro-equipo .views-row h4{
  font-size: 19px;
  color: #0080C6;
  font-weight: normal;
  line-height: 19px;
  margin-bottom: 10px;
}
.view-nuestro-equipo .views-row .field-type-text{
  font-size: 15px;
  font-weight: normal;
}
.view-nuestro-equipo .views-row .field-name-field-texto-enlace{
  margin-bottom: 10px;
}
.view-nuestro-equipo .views-row .field-name-field-cargo{
  font-weight: bold;
}




#bxslider_views_slideshow_main_nodequeue_1-block_queue_equipo_trabajo .bx-viewport ul li{
  height: 185px;
  position: relative;
}

#bxslider_views_slideshow_main_nodequeue_1-block_queue_equipo_trabajo .bx-viewport ul li .group-nombre-cargo{
  border: none;
  padding: 0px;
  margin: 0px;
}

#bxslider_views_slideshow_main_nodequeue_1-block_queue_equipo_trabajo .bx-viewport ul li .field-name-popup-colaborador a{
  display: block;
  position: absolute;
  top: 0px;
}


/* ## FOOTER ## */

.pre-footer{
  border-top: 7px solid #A63131;
  background-color: #353535;
  min-height: 110px;
}

.footer{
  background-color: #404041;
  min-height: 305px;
}

#logo-footer{
  display: block;
  width: 125px;
  height: 90px;
  margin-top: 7px;
  background-image: url('../images/logo_pie.png');
}

#direccion-footer{
  background-image: url('../images/i_mapa.png');
  background-position: left top;
  background-repeat: no-repeat;
  padding-left: 40px;
  margin-top: 20px;
}
#direccion-footer p,
.i_tel,
.i_mail{
  font-size: 13px;
  color: #FFF;
  line-height: 18px;
}
.i_tel{
  background-image: url('../images/i_tel.png');
  background-position: left top;
  background-repeat: no-repeat;
  padding-left: 40px;
  line-height: 30px;
  margin-bottom: 10px;
  margin-top: 15px;
}
.i_mail{
  background-image: url('../images/i_mail.png');
  background-position: left top;
  background-repeat: no-repeat;
  padding-left: 40px;
  line-height: 25px;
}
.i_mail a{
  color: #FFF;
}
#redes-sociales-prefooter{
  padding-top: 20px;
}
#redes-sociales-prefooter ul{
  float: right;
}
#redes-sociales-prefooter ul li{
  display: inline-block;
  margin-left: 15px;
}

#redes-sociales-lateral{
  position: fixed;
  left: 0px;
  top: 40%;
  width: 70px;
  height: 315px;
  z-index: 99;
  -webkit-border-bottom-right-radius: 20px;
  -webkit-border-top-right-radius: 20px;
  -moz-border-radius-bottomright: 20px;
  -moz-border-radius-topright: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;

  background-image: url('../images/bg_rojo.png');
  background-repeat: repeat;

}
#redes-sociales-lateral ul{
  width: 45px;
  margin: 0 auto; margin-top: 15px;
}
#redes-sociales-lateral p.texto-vertical{
  position: absolute;
  width: 180px;
  left: -56px;
  top: 193px;
  font-size: 21px;
  color: #FFF;
  padding: 0px;
  margin: 0px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

#block-webform-client-block-1{
  border-top: 1px solid #FFF;
}
#block-webform-client-block-1 label{
  font-size: 15px;
  font-weight: bold;
  color: #FFF;
  margin-bottom: 10px;
}
#block-webform-client-block-1 #edit-submitted-correo{
  width: 100%;
  border: none;
  background-color: #58595B;
  height: 40px;
}
#block-webform-client-block-1 .form-submit{
  float: right;
  border: none;
  background-color: #0080C6;
  border-radius: 30px;
  font-size: 15px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  padding-left: 20px; padding-right: 20px;
  text-align: center;
  line-height:  40px;
}

/**************************************************/
/**************************************************/
.view-nuestro-equipo .views-row {
  float: left;
}

.view-nuestro-equipo .views-row-even.ne {
  float: right;
}
