/*
  =BASE
--------------------------------------------- */
* {
  margin: 0;
  padding: 0;
}

html {
  border-top: 6px solid #000;
}
body {
  padding: 0;
}
/*
  =LAYOUT
--------------------------------------------- */
.header .grid,
.footer,
.pre-footer,
.above-content .inner,
.panel.grid,
.layour .grid {
  max-width: 70em;
  margin: 0 auto;
  overflow: hidden;
  float: none;
}

.one-sidebar .main {
  width: 60%;
  padding: 0 0.875em;
}
.one-sidebar #sidebar-first {
  width: 40%;
  padding: 0 0.875em;
}
.sidebar-first .main {
  float: left;
}
.sidebar-first #sidebar-first {
  float: right;
}



/*
# --------------------------------------------------
# CSS Andrey S
# --------------------------------------------------
*/







/**************************************************/
/**************************************************/
