@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/proximanova-regular.eot');
  src: url('../fonts/proximanova-regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/proximanova-regular.woff') format('woff'), 
  url('../fonts/proximanova-regular.ttf') format('truetype'),
  url('../fonts/proximanova-regular.svg#ProximaNova') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Aleo';
  src: url('../fonts/Aleo-Regular.eot');/* Para Internet Explorer */
  src: url('../fonts/Aleo-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Aleo-Regular.woff') format('woff'), 
  url('../fonts/Aleo-Regular.ttf') format('truetype'),
  url('../fonts/Aleo-Regular.svg#AleoRegular') format('svg');
  font-weight: normal;
  font-style: italic;
}


/*
  =BASE
--------------------------------------------- */
* {
  margin: 0;
  padding: 0;
}

html {

}
body {
  padding: 0;
  font-family: "ProximaNova", sans-serif;
}
/*
  =LAYOUT
--------------------------------------------- */
.header .grid,
.footer .inner,
.pre-footer .inner,
.above-content .inner,
.panel.grid,
.layour .grid {
  max-width: 70em;
  margin: 0 auto;
  overflow: hidden;
  float: none;
}

.one-sidebar .main {
  width: 60%;
  padding: 0 0.875em;
}
.one-sidebar #sidebar-first {
  width: 40%;
  padding: 0 0.875em;
}
.sidebar-first .main {
  float: left;
}
.sidebar-first #sidebar-first {
  float: right;
}



/*
# --------------------------------------------------
# CSS Andrey S
# --------------------------------------------------
*/


.front h2{
  font-family: "Aleo", sans-serif;
  text-align: center;
  font-size: 33px;
  line-height: 36px;
  font-weight: normal;
}
h2 + p{
  text-align: center;
}
.rojo{
  color: #A63131;
}
.azul{
  color: #0080C6;
}
.naranja{
  color: #CF722A;
}
p{
  font-size: 15px;
  line-height: 19px;
  color: #404041;
}

.btn{
  display: block;
  border: 3px solid #CCC;
  padding: 0px 15px;
  text-align: center;
  line-height: 45px;
  font-size: 18px;
  border-radius: 30px;
}
.btn.b-azul{
  border-color: #0080C6;
  color: #0080C6;
}
.btn.b-rojo{
  border-color: #A63131;
  color: #A63131;
}
.btn.l2{
  line-height: 20px;
}
.a-center{
  text-align: center;
  overflow: hidden;
  clear: both;
  margin: 20px 0px;
}
.a-center a.btn{
  display: inline-block;
}

.bg-gris{
  background-color: #EFEFF0;
}
.bg-img-gris{
  background-image: url('../images/bg_gris.png');
  background-repeat: repeat;
}

/* ## HEADER ## */

.header{
  min-height: 157px;
  border-bottom: 5px solid #0080C6;
}

.utility-bar{
  float: right;
}

.utility-bar ul{
  background-color: #EFEFF0;
  -webkit-border-bottom-right-radius: 35px;
  -webkit-border-bottom-left-radius: 35px;
  -moz-border-radius-bottomright: 35px;
  -moz-border-radius-bottomleft: 35px;
  border-bottom-right-radius: 35px;
  border-bottom-left-radius: 35px;
  padding: 3px 25px 7px 25px;
}

.utility-bar ul li{
  display: inline-block;
  border-right: 1px solid #58595B;
  line-height: 15px;
  padding-left: 7px; padding-right: 12px;
}

.utility-bar ul li a{
  font-size: 14px;
  font-weight: normal;
  color: #58595B;
  text-decoration: none;
}
#logo{
  float: left;
  margin-top: 18px;
}


/* ## INICIO ## */

.panels-flexible-row{
  padding: 50px 0px !important;
}

.primer-fila-interna{
  margin-top: 40px;
}
.primer-fila-interna,
.segunda-fila-interna{
  clear: both;
  overflow: hidden;
  margin-bottom: 50px;
}
.caja-icono{
  width: 200px;
  min-height: 240px;
  margin: 0 auto;
  border-bottom: 3px solid #A63131;
  background-color: #EFEFF0;

  -webkit-border-top-left-radius: 20px;
  -webkit-border-top-right-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-topright: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  text-align: center;
  padding: 10px 15px;
}

.caja-icono strong{
  display: block;
  font-size: 20px;
  color: #0080C6;
  margin-bottom: 15px;
}
.caja-icono p{
  line-height: 15px;
  margin: 0px;
}
.caja-icono > div{
  width: 60px; height: 60px;
  margin: 0 auto;
  margin-bottom: 15px;
  background-repeat: no-repeat;
  background-position: center;
}
.caja-icono .icono-1{
  background-image: url('../images/i_aporte_1.png');
}
.caja-icono .icono-2{
  background-image: url('../images/i_aporte_2.png');
}
.caja-icono .icono-3{
  background-image: url('../images/i_aporte_3.png');
}
.caja-icono .icono-4{
  background-image: url('../images/i_aporte_4.png');
}
.caja-icono .icono-5{
  background-image: url('../images/i_aporte_5.png');
}
.caja-icono .icono-6{
  background-image: url('../images/i_aporte_6.png');
}
.caja-icono .icono-7{
  background-image: url('../images/i_aporte_7.png');
}
.caja-icono .icono-8{
  background-image: url('../images/i_aporte_8.png');
}

.pie-apoyenos{
  text-align: center;
}
.pie-apoyenos p{
  font-family: "Aleo", sans-serif;
  font-size: 23px;
  color: #58595B;
  display: inline-block;
}
.pie-apoyenos a{
  margin-left: 30px;
}
#queremos{
  overflow: hidden;
  clear: both;
}



/* ## FOOTER ## */

.pre-footer{
  border-top: 7px solid #A63131;
  background-color: #353535;
  min-height: 110px;
}

.footer{
  background-color: #404041;
  min-height: 305px;
}

#logo-footer{
  display: block;
  width: 125px;
  height: 90px;
  margin-top: 7px;
  background-image: url('../images/logo_pie.png');
}

#direccion-footer{
  background-image: url('../images/i_mapa.png');
  background-position: left top;
  background-repeat: no-repeat;
  padding-left: 40px;
  margin-top: 20px;
}
#direccion-footer p,
.i_tel,
.i_mail{
  font-size: 13px;
  color: #FFF;
  line-height: 18px;
}
.i_tel{
  background-image: url('../images/i_tel.png');
  background-position: left top;
  background-repeat: no-repeat;
  padding-left: 40px;
  line-height: 30px;
  margin-bottom: 10px;
  margin-top: 15px;
}
.i_mail{
  background-image: url('../images/i_mail.png');
  background-position: left top;
  background-repeat: no-repeat;
  padding-left: 40px;
  line-height: 25px;
}
.i_mail a{
  color: #FFF;
}
#redes-sociales-prefooter{
  padding-top: 20px;
}
#redes-sociales-prefooter ul{
  float: right;
}
#redes-sociales-prefooter ul li{
  display: inline-block;
  margin-left: 15px;
}

#redes-sociales-lateral{
  position: fixed;
  left: 0px;
  top: 40%;
  width: 70px;
  height: 315px;

  -webkit-border-bottom-right-radius: 20px;
  -webkit-border-top-right-radius: 20px;
  -moz-border-radius-bottomright: 20px;
  -moz-border-radius-topright: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;

  background-image: url('../images/bg_rojo.png');
  background-repeat: repeat;

}
#redes-sociales-lateral ul{
  width: 45px;
  margin: 0 auto; margin-top: 15px;
}
#redes-sociales-lateral p.texto-vertical{
  position: absolute;
  width: 180px;
  left: -56px;
  top: 193px;
  font-size: 21px;
  color: #FFF;
  padding: 0px;
  margin: 0px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

#block-webform-client-block-1{
  border-top: 1px solid #FFF;
}
#block-webform-client-block-1 label{
  font-size: 15px;
  font-weight: bold;
  color: #FFF;
  margin-bottom: 10px;
}
#block-webform-client-block-1 #edit-submitted-correo{
  width: 100%;
  border: none;
  background-color: #58595B;
  height: 40px;
}
#block-webform-client-block-1 .form-submit{
  float: right;
  border: none;
  background-color: #0080C6;
  border-radius: 30px;
  font-size: 15px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  padding-left: 20px; padding-right: 20px;
  text-align: center;
  line-height:  40px;
}

/**************************************************/
/**************************************************/
