@media (max-width: 991px) {

	.caja-icono{
		width: 100%;
	}

	.last {
    	padding: 0 0.875em;
	}

	.caja-icono strong{
		font-size: 16px;
	}

	.caja-icono p{
		font-size: 12px;
	}

	.gu-1-5{
		width: 33%; /*20%*/
	}
	.alcance.gu-1-5{
		min-height: 450px;
	}

	.bx-wrapper .bx-viewport{
		width: 90% !important;
	}

	.bx-wrapper .bx-controls-direction .bx-next{
		right: 5px;
	}

	.bx-wrapper .bx-controls-direction .bx-prev{
		left: -2px;
	}

	.view-blog .views-row > div{
		width: 100%;
	}

	#redes-sociales-lateral{
		display: none;
	}

	.pre-footer{
		padding: 0 15px;
	}

	.footer{
		padding: 0 15px;
	}

	.footer .inner{
		padding-bottom: 50px;
	}

	.footer .block{
		margin-right: 0;
		padding: 0 20px;
		width: 50%;
	}

	#block-webform-client-block-1, #block-webform-client-block-239{
		width: 50%;
		margin-top: 20px;
	}

	.header{
		padding: 0 15px;
	}
}